html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  box-sizing: border-box; /*width and height will be calculated taking to account the padding*/
}

.signInContainer {
  background-color: #efefee;
  height: 100vh; /*covers the whole height of the screen*/
  display: flex; /*takes all the width of the page*/
  align-items: center; /*aligns items vertically at the center*/
  justify-content: center; /*horizontal center alignment*/
}

.column {
  padding: 20px 35px;
  background-color: #fff;
  min-height: 300px;
  max-height: 100%;
  width: 450px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px; /*0.1 transparency with 0 horizontal offset 1px vertical offset and 2px blur*/
  overflow-y: auto; /*add vertical scrollbars automatically, if need be*/
}

.column form {
  display: flex;
  flex-direction: column;
}

.column form input[type="text"],
.column form input[type="email"],
.column form input[type="password"] {
  font-size: 14px;
  margin: 10px 0; /*10px top-bottom 0px left-right*/
  border: none;
  border-bottom: 1px solid #dedede;
}

.column form input[type="submit"] {
  background-color: #4285f4;
  color: #fff;
  height: 36px;
  width: 88px;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  cursor: pointer;
}

.column .header {
  padding: 20px 0;
}

.column h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin: 0;
  padding-top: 16px;
  color: #000;
}

.column .header span {
  font-size: 14px;
}

.column .header img {
  width: 100px;
  margin-left: 40%;
  position: relative;
}

.signInMessage {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  bottom: 20px;
}
